@keyframes colorChanger {
  0%   { border-color:  #72490c; }
  25%  { border-color:  #06654e; } 
  50%  { border-color:  #4013ca; }
  75%  { border-color:  #217410; } 
  100% { border-color:  #850d0d; } 
}

@keyframes backgroundColorChange {
  0%   { background:  #72490c; }
  25%  { background:  #06654e; } 
  50%  { background:  #4013ca; }
  75%  { background:  #217410; } 
  100% { background:  #850d0d; } 
}

nav h1{
  margin : 0rem;
}
nav {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000c5;
  color: #fff;
  padding: 3px;
  border-radius: 8px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  animation: colorChanger 5s infinite alternate;
}

nav a {
  color: #fff;
  text-decoration: none;
}